


/opt/wildfly/bin/jboss-cli.sh -c --controller=192.168.200.100
<br>
<br>
<br>
<br>



/host=master/core-service=management/access=audit/logger=audit-log:write-attribute(name=enabled,value=true)

<br>
<br>
<br>
o arquivo de  log fica em /opt/wildfly/domain/data 

